$primary-color: #333;

$green: #276749;
$teal: #38B2AC;
$pink: #B83280;
$purple: #140b33;
$main-bg: rgba(11, 9, 119, 0.6);
$indigo: #0B0977;
$orange: #9C4221;
$ltorange: #F6AD55;
$ltcyan: #C4F1F9;
$ltgray: #EDF2F7;

