@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

$font-stack: 'EB Garamond';
$font-stack2: 'Montserrat', sans-serif;
$primary-color: #333;

$green: #276749;
$teal: #38B2AC;
$pink: #B83280;
$purple: #322659;
$indigo: #0B0977;
$orange: #9C4221;
$ltorange: #F6AD55;
$ltcyan: #C4F1F9;
$ltgray: #EDF2F7;

$transition: all .5s ease-out;
// html {
//     height: 100%;
//     display: flex;
//     margin: 0;
//     padding: 0;
// }
body {
  font: 100% $font-stack2;
  background: $purple;
  background: linear-gradient(180deg, $indigo 0%, $purple 75%);
  color: $ltgray;
  height: 100%;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4 {
    font-family: $font-stack;
    margin-top: 0;
    margin-bottom: 1.5rem;
}
h1 {
    font-size: 4rem;
    color: $orange;
}
main > h1 {
  background: $indigo; 
  color: $ltcyan;
  text-shadow: -4px 3px 0 $indigo, -10px 7px $teal ;
  margin: 0px 0px 0px .8rem;

}
h2 {
    font-size: 3rem;
    color: $ltorange;
}
h3 {
    font-size: 2.25rem;
    color: $green;
}
p {
    line-height: 1.7rem;
}
nav {
    border-bottom: 3px solid $pink;
    ul {
        list-style-type: none;
        display: flex;
        padding-left: 0;
        margin: .5rem 0;
        li {
            margin: .5rem 1rem .7rem 1rem;
            a {
                color: $ltcyan;
                text-decoration: none;
                transition: $transition;
                &:hover {
                    color: $teal;
                    font-weight: bold;
                    margin-left: -5px;
                }
            }
        }  
    }
}
.container {
    margin: auto;
    max-width: 700px;
    font-family: $font-stack2;
    border: 1px dashed #bada55;
    border-radius: 6px;
    background: $indigo;
    padding-bottom: 2rem;
}
main {
    margin: 0 1rem;
    padding: 1rem;
    height: 100%;
}
hr {
    margin: 2rem 0 2rem 0;
    border: 6px solid $teal;
    border-radius: 6px;
}
a {
    color: $teal;
    transition: $transition;
}
form {    
    p {
        display: flex;
        flex-direction: column;
    }
    input, textarea, select {
        padding: .5rem .6rem;
        border-radius: 6px;
        font-size: 1rem;
        font-family: $font-stack2; 
        background: $purple;
        color: $ltgray;
        border: 1px solid $teal;
    }
    button[type=submit] {
        background: $teal;
        padding: 2rem 4rem;
        border-radius: 6px;
        font-size: 1.2rem;
        border: 0px solid transparent;
        max-width: 200px;
        font-family: $font-stack2; 
        &:hover {
            transition: $transition;
            background-color: $pink;
            color: $ltgray;
        }
    }
}
p > ul {
    margin-left: -1rem;
}
a.big {
    background: $teal;
    color: $ltcyan;
    border-radius: 6px;
    padding: 1rem 3rem;
    margin: 3rem 0;
    // display: flex;
    // flex-direction: column;
    
    box-sizing: border-box;
    text-decoration: none;
    &:hover {
        transition: $transition;
        background-color: $pink;
        color: $ltgray;
    }
}