@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
// @import '../../node_modules/bootstrap/scss/bootstrap';
// @import '../../node_modules/react-bootstrap/dist/react-bootstrap';
// @import '../../node_modules/react-bootstrap/dist/css/bootstrap.min.css';





@font-face {
    font-family: 'Super Sunday';
    src: url('../images/SuperSunday.ttf');
}
// @font-face {
//     font-family: 'Blasqer';
//     src: url('../images/Blasquer.ttf');
// }
$font-stack: 'EB Garamond';
$font-stack2: 'Montserrat', sans-serif;
$font-stack3: 'Super Sunday';
$font-stack4: 'Blasqer';
$primary-color: #333;

$green: #276749;
$teal: #38B2AC;
$pink: #B83280;
$purple: #140b33;
$main-bg: rgba(11, 9, 119, 0.6);
$indigo: #0B0977;
$orange: #9C4221;
$ltorange: #F6AD55;
$ltcyan: #C4F1F9;
$ltgray: #EDF2F7;
$shadow:  0px 2px 11px 0px rgba(0,0,0,0.75);  
$transition: all .5s ease-out;
html {
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}
body {
  font: 100% $font-stack2;
  background: $purple;
//   background: linear-gradient(180deg, $indigo 0%, $purple 75%);
  color: $ltgray;
  height: 100%;
  margin: 0;
  padding: 0; 
  background: linear-gradient(180deg, $purple 30%, rgba(0,0,0,0)), url(../images/glitter_bg.png);
  background-attachment: fixed;
}

// headings
h2, h4 {
    font-family: $font-stack2;
    margin-top: 0;
    font-weight: 700;
}
.accordion-h2 {
    font-size: 2rem;
}
h1, h3 {
    font-family: $font-stack3;
}
h1 {
    // font-size: 4rem;
    color: $teal;
}
main > h1 {
  background: rgba(11, 9, 119, 0); 
  color: $ltcyan;
  text-shadow: -4px 3px 0 $indigo, -10px 7px $teal ;
  margin: 0px 0px 0px .8rem;
  border-radius: 6px;
  font-size: 3rem;
}
h2 {
    color: $ltorange;
}
h3 {
    color: $green;
}
p {
    line-height: 1.7rem;
}

// navigation
nav {
    border-bottom: 3px solid $pink;
    ul {
        list-style-type: none;
        display: flex;
        padding-left: 0;
        margin: .5rem 0;
        li {
            margin: .5rem 1rem .7rem 1rem;
            a {
                color: $ltcyan;
                text-decoration: none;
                transition: $transition;
                &:hover {
                    color: $teal;
                    font-weight: bold;
                    margin-left: -5px;
                }
            }
        }  
    }
}

// content
.layout {
    margin: auto;
    max-width: 700px;
    font-family: $font-stack2;
    border: 1px dashed #bada55;
    border-radius: 6px;
    background: $main-bg;
    padding-bottom: 2rem;
    box-shadow: $shadow; 
    // filter: contrast(100%) brightness(100%) invert(0%);
}
main {
    margin: 0 1rem;
    padding: 1rem;
    height: 100%;
    // doesn't work :(
    &.purple {
        background: $purple;
        & > h1 {
            text-shadow: -4px 3px 0 $purple, -10px 7px $teal;
        }
    }    
    
}

hr {
    margin: 2rem 0 2rem 0;
    border: 6px solid $teal;
    border-radius: 6px;
}
a {
    color: $teal;
    transition: $transition;
}
form {    
    p {
        display: flex;
        flex-direction: column;
    }
    input, textarea, select {
        padding: .5rem .6rem;
        border-radius: 6px;
        font-size: 1rem;
        font-family: $font-stack2; 
        background: $purple;
        color: $ltgray;
        border: 1px solid $teal;
    }
    button[type=submit] {
        background: $teal;
        padding: 1rem 3rem;
        border-radius: 6px;
        font-size: 1.2rem;
        border: 0px solid transparent;
        max-width: 200px;
        font-family: $font-stack2; 
        &:hover {
            transition: $transition;
            background-color: $pink;
            color: $ltgray;
        }
    }
}
p > ul {
    margin-left: -1rem;
}
a.big {
    background: $teal;
    color: $ltcyan;
    border-radius: 6px;
    padding: 1rem 3rem;
    margin: 3rem 0;
    // display: flex;
    // flex-direction: column;
    
    box-sizing: border-box;
    text-decoration: none;
    &:hover {
        transition: $transition;
        background-color: $pink;
        color: $ltgray;
    }
}

